#################
## Maven
#################
target/

#################
## Gradle
#################
build/
out/
.gradle/
gradle/

#################
## Eclipse
#################

.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
local.properties
.classpath
.settings/
.loadpath

#################
## Idea
#################
*.iml
.idea

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
#*.launch

#################
## Others
#################
*.log
.*.html
Oracle
# For liquibase generated db doc
dbDoc

################
## WLS
################
wls-domain
